* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 25px 25px;
}

.bg-color {
  margin: 5rem 15rem 0.5rem 15rem;
  padding: 5rem 0;
  border-radius: 2rem;
}